@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
   
    pointer-events: all;
}

html{
    -webkit-text-size-adjust: 100%;
    scroll-snap-type: y proximity;
    scrollbar-width: none;
}

html, body {
    scroll-behavior: smooth !important;
}

body{
    font-family: system-ui;
    position: relative;
    min-height: 100vh;
    background-color: #14213D;
    background-image: linear-gradient(to bottom, #14213d, #172749, #1b2e55, #1e3462, #223b6f);
    -ms-overflow-style: none;
    color: white;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

#wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body::-webkit-scrollbar{
    display: none;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    display: block;
    height: 100px;
    padding: 20px 0 20px 0;
    transition: top 0.3s;
    background-color: rgba(0,0,0,0.3);
}

#logo{
    font-size: 2rem;
    letter-spacing: 15px;
    font-weight: bold;
    background: -webkit-linear-gradient(#FFFFFF, #E5E5E5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav{
    display: flex;
    justify-content: space-around;
    gap: 20%;
    align-items: center;
}

header nav ul {
    list-style: none;
    padding-inline-start: 0;
}

header nav li {
    display: inline-block;
    padding: 20px;
    font-size: 16px;
    font-weight: 500;
}

.mobile-menu{
    display: none;
}

.mobile-menu-line{
    width: 25px;
    height: 3px;
    background-color: white;
    margin-bottom: 6px;
}

header a {
    text-decoration: none;
    color: #E5E5E5;
    transition: all 0.3s ease 0s;
}

header a:hover {
    color: #FCA311;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

@keyframes  typewrite{
    to {width: 23ch;}
}

@keyframes blink{
    from { border-color: transparent;}
    50% { border-color: white;}
    to { border-color: transparent;}
}

.box-area{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.single-box{
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 500px;
    height: 600px;
    border-radius: 4px;
    text-align: center;
    margin: 20px;
    transition: .3s;
    box-shadow: 4px 6px 14px #00000036;
    border-radius: 3px;
    color: #F9F9F9;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.single-box:hover {
    margin-top: -30px;
}

.single-box-img_1{
    background-image: url(images/139592261_1093106784497487_8786754276044353042_n.jpg);
}

.single-box-img_2{
    background-image: url(images/126444506_838920633532401_2396796451606989544_n.jpg);
}

.single-box-img_3{
    background-image: url(images/145022285_833703643860610_8450794151186713769_n.jpg);
}

.box-area .single-box .text{
    width: 100%;
    background-color: rgba(0,0,0,0.99);
    padding: 15px;
}

.top {
    place-self: end;
    position: sticky;
    bottom: 20px;
    right: 20px;
    margin-top: 100vh;
    
    /* visual styling */
    text-decoration: none;
    padding: 20px;
    font-family: sans-serif;
    color: #fff;
    background-color: rgba(0,0,0,0.7);
    border-radius: 25px;
  }

footer {
    font-size: 12px;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 14px;
    color: #E5E5E5;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid;
}

footer a:hover {
    border-bottom: 1px transparent;
}



  @media only screen and (max-width: 750px) {
    .mobile-menu {
        display: block;
        position: absolute;
        top: 30px;
        right: 30px;
    }
    #logo{
        display: block;
        position: absolute;
        top: 30px;
        left: 30px;
    }
    header{   
    height: 60px;
    }
    header nav{
        flex-direction: column;
    }
    header nav ul{
        margin-top: 80px;
        width: 100%; 
        display: none;
    }

    .active{
        display:block;
    }

    header nav li{
        width: 100%;
        border-top: 1px solid white;
    }

    .single-box:hover {
        margin-top: 20px;
    }
  }

  @media only screen and (max-width: 550px) {
    .single-box{
        width: 300px;
        height: 400px;
    }
  }
